In [1]:
import pandas as pd
df_2010 = pd.read_csv("../full csvs/Guttmacher_Clinic_Census_County_2010.csv",
                   dtype={"FIPS": str})

# add leading zero to county FIPS codes where needed
df_2010_FIPS = df_2010["FIPS"].astype("str").str.zfill(5)
compFIPS = pd.DataFrame(df_2010_FIPS)

# insert updated FIPS info back to orig df
df_2010["FIPS"] = compFIPS["FIPS"].values
df_2010

,State,FIPS,County,Total publicly funded clinics,Number of federally qualified health centers,Number of health department clinics,Number of hospital-based clinics,Number of Planned Parenthood clinics,Number of other clinics,Total Title X-funded clinics,...,Number of female contraceptive clients served at health department clinics,Number of female contraceptive clients served at hospital-based clinics,Number of female contraceptive clients served at Planned Parenthood clinics,Number of female contraceptive clients served at other clinics,Total number of female contraceptive clients served at Title X-funded clinics,Number of female contraceptive clients served at Title X-funded federally qualified health centers,Number of female contraceptive clients served at Title X-funded health department clinics,Number of female contraceptive clients served at Title X-funded hospital-based clinics,Number of female contraceptive clients served at Title X-funded Planned Parenthood clinics,Number of female contraceptive clients served at Title X-funded other clinics
0,Alabama,01001,Autauga,2,1,1,0,0,0,1,...,1120,0,0,0,1120.0,0,1120,0,0,0
1,Alabama,01003,Baldwin,3,2,1,0,0,0,1,...,1250,0,0,0,1250.0,0,1250,0,0,0
2,Alabama,01005,Barbour,3,1,2,0,0,0,2,...,1050,0,0,0,1050.0,0,1050,0,0,0
3,Alabama,01007,Bibb,2,1,1,0,0,0,1,...,670,0,0,0,670.0,0,670,0,0,0
4,Alabama,01009,Blount,2,1,1,0,0,0,1,...,1520,0,0,0,1520.0,0,1520,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Wyoming,56037,Sweetwater,1,0,0,0,0,1,1,...,0,0,0,1160,1160.0,0,0,0,0,1160
3139,Wyoming,56039,Teton,1,0,0,0,0,1,1,...,0,0,0,410,410.0,0,0,0,0,410
3140,Wyoming,56041,Uinta,2,0,0,0,0,2,2,...,0,0,0,690,690.0,0,0,0,0,690
3141,Wyoming,56043,Washakie,2,1,1,0,0,0,1,...,360,0,0,0,360.0,0,360,0,0,0
3142,Wyoming,56045,Weston,1,0,1,0,0,0,0,...,160,0,0,0,0.0,0,0,0,0,0

In [2]:
# print column names to select what to pull
df_2010.columns

Index(['State', 'FIPS', 'County', 'Total publicly funded clinics',
       'Number of federally qualified health centers',
       'Number of health department clinics',
       'Number of hospital-based clinics',
       'Number of Planned Parenthood clinics', 'Number of other clinics',
       'Total Title X-funded clinics',
       'Number of federally qualified health centers with Title X funding',
       'Number of health department clinics with Title X funding',
       'Number of hospital-based clinics with Title X funding',
       'Number of Planned Parenthood clinics with Title X funding',
       'Number of other clinics with Title X funding',
       'Total number of female contraceptive clients served at publicly funded clinics',
       'Number of female contraceptive clients served at federally qualified health centers',
       'Number of female contraceptive clients served at health department clinics',
       'Number of female contraceptive clients served at hospital-based clinics',
       'Number of female contraceptive clients served at Planned Parenthood clinics',
       'Number of female contraceptive clients served at other clinics',
       'Total number of female contraceptive clients served at Title X-funded clinics',
       'Number of female contraceptive clients served at Title X-funded federally qualified health centers',
       'Number of female contraceptive clients served at Title X-funded health department clinics',
       'Number of female contraceptive clients served at Title X-funded hospital-based clinics',
       'Number of female contraceptive clients served at Title X-funded Planned Parenthood clinics',
       'Number of female contraceptive clients served at Title X-funded other clinics'],
      dtype='object')

In [3]:
# pull state, FIPS, county, and total public funded clinics columns only.
county2010 = df_2010[['State', 'FIPS', 'County', 'Total publicly funded clinics']]
county2010.head()

     State   FIPS    County  Total publicly funded clinics
0  Alabama  01001  Autauga                               2
1  Alabama  01003  Baldwin                               3
2  Alabama  01005  Barbour                               3
3  Alabama  01007     Bibb                               2
4  Alabama  01009   Blount                               2

In [4]:
# rename column to remove spaces
county2010 = county2010.rename(columns={'Total publicly funded clinics': 'Pub_Fund_Clinics'})
county2010

        State   FIPS       County  Pub_Fund_Clinics
0     Alabama  01001     Autauga                  2
1     Alabama  01003     Baldwin                  3
2     Alabama  01005     Barbour                  3
3     Alabama  01007        Bibb                  2
4     Alabama  01009      Blount                  2
...       ...    ...          ...               ...
3138  Wyoming  56037  Sweetwater                  1
3139  Wyoming  56039       Teton                  1
3140  Wyoming  56041       Uinta                  2
3141  Wyoming  56043    Washakie                  2
3142  Wyoming  56045      Weston                  1

[3143 rows x 4 columns]

In [5]:
import json

# convert df to json and export file
county2010.to_json(r'../2010_clinics.json', orient="table")

In [6]:
df_2015 = pd.read_csv("../full csvs/Guttmacher_Clinic_Census_County_2015.csv",
                   dtype={"FIPS": str})

# add leading zero to county FIPS codes where needed
df_2015_FIPS = df_2015["FIPS"].astype("str").str.zfill(5)
comp15FIPS = pd.DataFrame(df_2015_FIPS)

# insert updated FIPS info back to orig df
df_2015["FIPS"] = comp15FIPS["FIPS"].values

In [7]:
county2015 = df_2015[['State', 'FIPS', 'County', 'Total publicly funded clinics']]
county2015.head()

     State   FIPS    County  Total publicly funded clinics
0  Alabama  01001  Autauga                               2
1  Alabama  01003  Baldwin                               6
2  Alabama  01005  Barbour                               3
3  Alabama  01007     Bibb                               5
4  Alabama  01009   Blount                               2

In [8]:
# rename column to remove spaces
county2015 = county2015.rename(columns={'Total publicly funded clinics': 'Pub_Fund_Clinics'})
county2015

        State   FIPS       County  Pub_Fund_Clinics
0     Alabama  01001     Autauga                  2
1     Alabama  01003     Baldwin                  6
2     Alabama  01005     Barbour                  3
3     Alabama  01007        Bibb                  5
4     Alabama  01009      Blount                  2
...       ...    ...          ...               ...
3137  Wyoming  56037  Sweetwater                  2
3138  Wyoming  56039       Teton                  0
3139  Wyoming  56041       Uinta                  1
3140  Wyoming  56043    Washakie                  1
3141  Wyoming  56045      Weston                  1

[3142 rows x 4 columns]

In [9]:
county2015_json = county2015.to_json(r'../2015_clinics.json', orient="table")

In [10]:
pop_df = pd.read_csv("../full csvs/Census_County_Populations_FIPS.csv",  encoding='latin-1', dtype={"FIPS": str})

# add leading zero to county FIPS codes where needed
pop_FIPS = pop_df["FIPS"].astype("str").str.zfill(5)
full_FIPS = pd.DataFrame(pop_FIPS)

# insert updated FIPS info back to orig df
pop_df["FIPS"] = full_FIPS["FIPS"].values
pop_df

               state     county   FIPS  2010_population  2015_population
0     South Carolina  Abbeville  45001            25417            24796
1          Louisiana     Acadia  22001            61773            62679
2           Virginia   Accomack  51001            33164            32914
3              Idaho        Ada  16001           392365           432862
4               Iowa      Adair  19001             7682             7145
...              ...        ...    ...              ...              ...
3136         Arizona       Yuma  04027           195751           205186
3137        Colorado       Yuma  08125            10043            10037
3138           Texas     Zapata  48505            14018            14493
3139           Texas     Zavala  48507            11677            12310
3140    South Dakota    Ziebach  46137             2801             2837

[3141 rows x 5 columns]

In [11]:
countypop_FIPS = pop_df.to_json(r'../county_pop_FIPS.json', orient="table")